@{
    ViewBag.Title = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-xs-12">
            <h2>I'm Logged in</h2>
        </div>

    </div>

}
else
{
    //Left column
    <div class="row">
        <div class="col-lg-9 col-md-8 col-sm-7">
            <h2>I'm not Logged in</h2>
        </div>
    </div>
    //Right column
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-5">
           
        </div>
    </div>

}

